.header {
  height: 60px;
  background-color: #e6e8e1;
}

.header-logo {
  height: 60px;
  width: 60px;
  margin: auto;
  display: block;
}

.header-descriptor {
  color: #373331;
  font-size: 20px;
  font-weight: 600;
}

.header-icon {
  height: 30px;
  width: 30px;
  margin: auto;
  display: block;
}

.header-num {
  text-align: end;
  font-size: 24px;
  font-weight: 600;
  color: #373331;
}

.main {
  height: 95vh;
  width: 100%;
  background: url("../img/main-bg.jpg") bottom no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
  display: block;
  padding-top: 10%;
}

.main-content_wrap {
  height: 100%;
  width: 100%;
}

.main-title {
  color: #e6e8e1;
  font-size: 30px;
  font-weight: 600;
  z-index: 10;
  display: block;
  position: relative;
}

.main-utp {
  color: #e6e8e1;
  font-size: 24px;
  font-weight: 600;
  z-index: 10;
  display: block;
  position: relative;
}

.main-form {
  background-color: rgba(55, 51, 49, 0.8);
  position: relative;
  z-index: 10;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-form_title {
  text-align: center;
  color: #e6e8e1;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
}

.main-form_input {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #c3afa0;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #e6e8e1;
  font-size: 18px;
  font-weight: 600;
  width: 80%;
}

.main-form_btn {
  display: block;
  margin: auto;
  background-color: #d18040;
  outline: none;
  border: none;
  padding: 8px;
  color: #e6e8e1;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.section-title {
  color: #d18040;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.offer {
  padding-bottom: 40px;
}

.offer-descr {
  color: #373331;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.offer-props {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: #c3afa0;
  text-align: center;
}

.offer-btn {
  display: block;
  margin: auto;
  background-color: #d18040;
  border: none;
  outline: none;
  color: #e6e8e1;
  font-size: 32px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}

.offer-img {
  display: block;
  margin: auto;
}

.offer-img_wrap {
  min-height: 320px;
}

.highlight {
  color: #d18040;
  font-size: 48px;
  font-weight: 700;
}

.features {
  background-color: #e6e8e1;
  padding-top: 10px;
}

.features-img {
  display: block;
  margin: auto;
}

.gallery {
  padding-bottom: 40px;
}

.gallery-img {
  display: block;
  margin: auto;
  width: 100%;
}

.delivery {
  background-color: #e6e8e1;
  padding-top: 10px;
}

#map {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
