.header
  background-color: #e6e8e1
  padding-top: 5px
  padding-bottom: 10px
  &-logo
    height: 60px
    width: 60px
    margin: auto
    display: block
  &-descriptor
    color: #373331
    font-size: 20px
    font-weight: 600
  &-icon
    height: 30px
    width: 30px
    margin: auto
    display: block
  &-num
    text-align: end
    font-size: 24px
    font-weight: 600
    color: #373331
@media (max-width:768px) 
  .header
    &-descriptor
      text-align: center
    &-num
      text-align: center